/*
COLOR PALETTE
#3902c4 - dark blue
#fddec0 - light apricot
#f3fc4e - gorse
#fa6f68 - bittersweet
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #3902c4;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

.projects img {
  width: 300px;
  margin-bottom: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}
a {
  text-decoration: none;
  color: #fddec0;
}
a:hover {
  text-decoration: none;
  color: #f3fc4e;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 35px;
}
p {
  text-align: justify;
}
h1, h2 {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  margin: 0;
}
#border{
  border-bottom: 8px dashed #f3fc4e;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 140%;
  margin-left: -20%;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}

/* Profile
------------------------------------*/
header {
  background: #3902c4;
  color: #fddec0;
}
.header a {
  text-decoration: none;
  color: #fa6f68;
}
.header a:hover {
  text-decoration: none;
  color: #fddec0;
}

/* Projects
------------------------------------*/
.projects {
  background: #fddec0;
}
.projects a {
  color: #fa6f68;
}
.projects a:hover{
  color: #f3fc4e;
}
.projects .btn {
  color: #f3fc4e;
  background: #3902c4;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: #f3fc4e;
  color: #3902c4;
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #f3fc4e;
  color: #3902c4;
}
.work-experience a{
  color: #fa6f68;
}
.work-experience a:hover{
  color: #fddec0;
}
.work-link {
  height: 400px;
  background: #f3fc4e;
}
.a1, .a2 {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  line-height: 360px;
  font-size: 100px;
  padding: 10px; /*to make clickable area bigger*/
}
.work-link .a1{
  color:#3902c4;
  position:absolute;
  z-index:2;
}
.work-link .a2{
  color:#fa6f68;
  position:absolute;
  z-index: 3;
  padding-top: 20px;
  padding-left: 20px;
}
.work-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}
svg{
  position: absolute;
  z-index: 1;
}
.work-link #poly1{
  margin-top:40px;
  left:0px;
}
.work-link #poly2{
  margin-top: 40px;
  right:0px;
}

/* Education
------------------------------------*/
.education {
  background-image: url(../images/socks.jpg);
  background-size: cover;
  background-position: left;
  padding-bottom: 50px;
  color: #f3fc4e;
}
.education p {
  width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
  background: #fa6f68;
  color: #3902c4;
  text-align: center;
  margin-top: -20px;
}
footer li{
  margin-top: -10px;
  display:block;
  float: left;
  width: 25%;
}