/*
COLOR PALETTE
#3902c4 - dark blue
#fddec0 - light apricot
#f3fc4e - gorse
#fa6f68 - bittersweet
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #3902c4;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  text-decoration: none;
  color: #fddec0;
}
a:hover {
  text-decoration: none;
  color: #f3fc4e;
}
h1 {
  font-size: 80px;
  line-height: 1;
}
h2 {
  font-size: 35px;
}
h1, h2 {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 8px dashed #f3fc4e;
  padding: 20px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
------------------------------------*/
header {
  background: #3902c4;
  color: #fddec0;
}
.header a {
  text-decoration: none;
  color: #fa6f68;
}
.header a:hover {
  text-decoration: none;
  color: #fddec0;
}

/* Projects
------------------------------------*/
.projects {
  background: #fddec0;
}
.projects a {
  color: #f3fc4e;
}
.projects a:hover{
  color: #3902c4;
}
.projects .btn {
  color: #f3fc4e;
  background: #3902c4;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: #f3fc4e;
  color: #3902c4;
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #f3fc4e;
  color: #3902c4;
}
.work-experience a{
  color: #fa6f68;
}
.work-experience a:hover{
  color: #fddec0;
}

/* Education
------------------------------------*/
.education {
  background-image: url(../images/socks.jpg);
  background-size: cover;
  background-position: top left;
  padding-bottom: 100px;
  color: #3902c4;
}
.education p {
  width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
  background: #fa6f68;
  color: #3902c4;
  text-align: center;
  width: 100%;
}
footer li{
  display:block;
  float: left;
  text-align:center;
  width: 25%;
}